/* homeCarousel 영역 속성 */
#homeCarousel {
    text-align: center;
}

/*#homeCarousel .carousel {*/
/*    box-shadow: none;*/
/*}*/

#homeCarousel .card {
    box-shadow: none;
    border: 1px solid #E5E5E5;
}

/*#homeCarousel .controls-side {*/
/*    margin-top: 50px;*/
/*}*/

#homeCarousel .carousel-control-prev,
#homeCarousel .carousel-control-next {
    max-width: 30px;
}

#homeCarousel .carousel-indicators {
    margin-top: 50px;
}