/* Menu 영역 공통 속성 */
#layoutMenu {
    font-size: 1.0rem;
}

#layoutMenu .container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

#layoutMenu form legend {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 25px;
}

/* 650px 미만 시 */
@media screen and (max-width: 650px) {
    #layoutMenu .container {
        max-width: 350px;
    }

    #layoutMenu form legend {
        font-size: 1.0rem;
    }
}