<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="mapper.MenuMapper">
	<resultMap type="Menu" id="Menu">
		<result property="menu_index" column="menu_index" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="menu_name" column="menu_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="menu_price" column="menu_price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 전체 메모 조회 -->
	<select id="selectAllMenu" resultMap="Menu">
	<![CDATA[
		SELECT *
		FROM Menu
	]]>
	</select>
	
	
</mapper>