/* 게시글 목록 헤더 영역 */
#postItemHeaderButton {
    padding-right: 0;
    text-align: right;
}
#postItemHeaderButton #postItemNew {
    border: none;
}

/* 게시글 목록 카드 영역 */
#postListContent .card {
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    /*box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);*/
}
#postListContent .card img {
    /*width: 100%;*/
    /*object-fit: cover;*/
    border-radius: .625rem;
    /*background: rgba(0, 0, 0, 0.1);*/
    /*background-color: rgba(0,0,0,0.2);*/
    /*opacity: 1;*/
    /*box-shadow: 0 3px 20px 11px rgba(0, 0, 0, 0.09);*/
    -webkit-filter: blur(0.03rem) brightness(0.8);  /* Chrome, Safari, Opera */
    filter: blur(0.03rem) brightness(0.8);
}
#postListContent .card .card-img {
    margin-top: -30px;
    margin-bottom: 15px;
    width: 100%;
    height: 200px
}
#postListContent .card-img-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 6px 6px 16px rgba(0,0,0,0.9);
}
#postListContent .card-img-header .card-img-text {
    color: #FFFFFF;
}