#join,
#login {
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 500px;
    text-align: center;
}

#join h3,
#login h3 {
    margin-bottom: 30px;
}

#join .card,
#login .card {
    padding: 0 30px 30px 30px;
    box-shadow: none;
    border: 1px solid #E5E5E5;
}

#join .form-group,
#login .form-group {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: left;
}

#join #buttonGroup,
#login #buttonGroup {
    margin-top: 50px;
    margin-bottom: 25px;
}

#join a,
#login a {
    font-size: 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
}

#join footer .container,
#login footer .container {
    margin-bottom: 10px;
    font-weight: 500;
}

#join .checkMessage,
#login .checkMessage {
    font-size: 0.7rem;
    font-weight: 400;
}

#join #userIdError,
#join #userPasswordError,
#join #userNameError,
#join #userEmailError {
    color: #FF3636;
}

/* 650px 미만 시 */
@media screen and (max-width: 650px) {
    #join,
    #login {
        margin-bottom: 50px;
    }
    #join p,
    #login p {
        font-size: 0.8rem;
    }
    #join a,
    #login a {
        font-size: 0.7rem;
        margin-left: 5px;
        margin-right: 5px;
    }
}