/* 게시글 헤더 영역 */
#postItemHeaderGroup {
    margin-top: 50px;
}
#postItemHeaderInfo {
    /*padding-left: 0;*/
    text-align: left;
}
#postItemHeaderInfo #postItemCreatedDate {
    margin-left: 10px;
    color: #999999;
}
#postItemHeaderButton {
    /*padding-right: 0;*/
    text-align: right;
}
#postItemHeaderButton #postItemUri,
#postItemHeaderButton #postItemEdit,
#postItemHeaderButton #postItemDelete {
    border: none;
}

/* 게시글 푸터 영역 */
#postItemFooterPostButton {
    padding-left: 0;
    text-align: left;
}
#postItemFooterListButton {
    padding-right: 0;
    text-align: right;
}
#postItemFooterPostButton #postItemView,
#postItemFooterPostButton #postItemLike,
#postItemFooterPostButton #postItemComment,
#postItemFooterListButton #postItemList {
    border: none;
}