/* homeCarousel �쁺�뿭 �냽�꽦 */
#homeCarousel {
    text-align: center;
}

#homeCarousel .colorText {
    font-size: 1.25rem;
    color: #0098F7;
}

#homeCarousel h5 {
    font-weight: bold;
    margin-bottom: 25px;
}

/*#homeCarousel .carousel {*/
/*    box-shadow: none;*/
/*}*/

#homeCarousel .card {
    box-shadow: none;
    border: 1px solid #E5E5E5;
}

#homeCarousel .card img {
    border-radius: .625rem;
    -webkit-filter: blur(0.01rem) brightness(0.8);  /* Chrome, Safari, Opera */
    filter: blur(0.01rem) brightness(0.9);
}
#homeCarousel .card .card-img {
    margin-top: -30px;
    margin-bottom: 15px;
    width: 100%;
    height: 200px
}

#homeCarousel .card-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

#homeCarousel .card-category {
    margin-left: 7px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

/* 湲� �뀓�뒪�듃�뒗 留먯쨪�엫 �몴�떆 */
#homeCarousel .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
    max-height: 75px;
    margin: 15px auto;
}

#homeCarousel .restaurantHref {
    font-size: 0.8rem;
    color: #0098F7 !important;
    border-bottom: 1px dashed #0098F7;
    border-radius: 2px;
    cursor: pointer;
}

/*#homeCarousel .controls-side {*/
/*    margin-top: 50px;*/
/*}*/

#homeCarousel .carousel-control-prev,
#homeCarousel .carousel-control-next {
    color: #0098F7 !important;
    max-width: 30px;
}

#homeCarousel .carousel-indicators {
    margin-top: 50px;
}

.ribbonEffect {
    position: relative;
    display: inline-block;
    overflow: hidden; /* 遺덊븘�슂�븳 遺�遺� 媛�由ш린 */
}

.ribbonEffect:after {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: auto;
    background: #0098F7;
    content: "new";  /* 蹂댁뿬二쇰뒗 �뀓�뒪�듃 */
    text-align: center;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1px 1px;
    left: -30px;
    top: 5px;
    transform: rotate(-40deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}