/* 폰트 속성 (개발자 도구에서도 테스트 가능) */
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
p, a, legend, span, label, strong {
    /*font-family: 'Noto Sans Korean', sans-serif;*/
    /*font-family: 'Noto Sans CJK KR Thin', sans-serif;*/
    /*font-family: 'Noto Sans CJK KR Regular', sans-serif;*/
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
}

/* 헤더라인 */
.headerLine {
    width: 20px;
    border-top: 1px solid #000000;
    margin-bottom: 15px;
}
.headerWhiteLine {
    width: 20px;
    border-top: 2px solid #FFFFFF;
    margin-bottom: 10px;
}
.header {
    text-align: center;
}
.headerStrongText {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Wrapper 영역 공통 속성 */
#layoutWrapper {
    margin: 0 auto;
    /*background-color: lightcyan;*/
}

/* A 태그 밑줄 삭제 */
#layoutWrapper a {
    text-decoration: none;
}

/* 글자 색/크기 지정 */
#layoutWrapper a,
#layoutWrapper p,
#layoutWrapper span {
    color: #000000;
    font-size: 0.95rem;
}

/* 캐로우셀 그림자 효과 삭제 */
#layoutWrapper .carousel {
    box-shadow: none;
}

/* 카드 그림자 효과 삭제 */
#layoutWrapper .card {
    box-shadow: none;
    border: 1px solid #E5E5E5;
}

/* 카드 오버레이 색상 수정 */
#layoutWrapper .card-img-overlay {
    background: rgba(0,0,0,0.2);
}

/* 드롭다운 메뉴 그림자 효과 삭제 */
#layoutWrapper .dropdown-menu {
    box-shadow: none;
    border: 1px solid #E5E5E5;
}

/* Content 영역 공통 속성 */
#layoutContent {
    margin-top: 100px;
    font-size: 1.0rem;
}

/* 커스텀 스크롤바 */
::-webkit-scrollbar {
    width: 10px;
    background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 1px white;
    background-color: #000000;
}

/* 가로 576px 이상 */
@media screen and (min-width: 576px) {
}

/* 가로 768px 이상 */
@media screen and (min-width: 768px) {
}

/* 가로 992px 이상 */
@media screen and (min-width: 992px) {
}

/* 가로 1200px 이상 */
@media screen and (min-width: 1200px) {
}