<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper.UserMapper">
	<resultMap type="UserVO" id="UserVO">
		<result property="user_id" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="user_password" column="user_password" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="user_name" column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="user_email" column="user_email" javaType="java.lang.String" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="userLogin" parameterType="String"
		resultType="com.example.demo.user.model.UserVO">
		<![CDATA[
		SELECT *
		FROM user
		WHERE user_id = #{user_id}
		]]>
	</select>

	<!-- 아이디 중복 검사 -->
	<select id="check_id" parameterType="String" resultType="int">
		SELECT
		count(*)
		FROM user
		WHERE user_id = #{user_id}
	</select>

	<select id="userList"
		resultType="com.example.demo.user.model.UserVO">
		<![CDATA[
		SELECT *
		FROM user
		]]>
	</select>

	<insert id="userInsert"
		parameterType="UserVO">
		<![CDATA[
		INSERT INTO `User_MSA`.`user`
		(`user_id`, `user_password`, `user_name`, `user_email`) 
		VALUES
		(#{user_id}, #{user_password}, #{user_name}, #{user_email});
		]]>
	</insert>
	
	<select id="selectUserById"
		parameterType="String" resultType="com.example.demo.user.model.UserVO">
		<![CDATA[
		SELECT *
		FROM user
		WHERE user_id = #{user_id}
		]]>
	</select>
	
    <update id="userModify" parameterType="com.example.demo.user.model.UserVO" >
	<![CDATA[
		UPDATE user
		SET user_id = #{user_id}, user_password = #{user_password}, user_name = #{user_name}, user_email = #{user_email}
		WHERE user.user_id = #{user_id}
	]]>
    </update>

	<!-- 이하 쓰이지 않는 코드(분석 목적으로 삭제 및 주석 처리하지 않음) -->
	<select id="boardDetail" parameterType="int"
		resultType="com.example.demo.user.model.UserVO">
		SELECT *
		FROM BOARD
		WHERE BNO = #{bno}
	</select>

	<update id="boardUpdate"
		parameterType="com.example.demo.user.model.UserVO">
		UPDATE BOARD
		SET
		<if test="subject != null">
			SUBJECT = #{subject}
		</if>
		<if test="subject != null and content != null"> , </if>
		<if test="content != null">
			CONTENT = #{content}
		</if>
		WHERE BNO = #{bno}
	</update>

	<delete id="boardDelete" parameterType="int">
		DELETE FROM BOARD
		WHERE
		BNO = #{bno}
	</delete>

</mapper>
